@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primario: #4C0079;
    --color-secundario: #d600dd;
    --color-ternario: #FFFFFF;
    --color-cuarto: #e1a5eb;
}
