@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primary: #dd12d3;
    --color-secundary: #9b00e2;
    --color-icon: #fff;
}
