@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --color-primary: #dd00c0;
    --color-secundary: #33404F;
    --color-terceary: #B5C5C3;
    --color-alternative: #ffffff;
    --color-cuaternario: #f5d1f1;
}
